/*
display: grid; on your container

in each step use the given properties, do not change the HTML!

1. define "grid-template-columns"
2. add gap using "grid-gap"
3. explicitly make rows wit "grid-template-rows"
4. start using fr unit instead of pixels
5. try playing around with repeat(number, unit (unit))
6. try repeat(auto-fill, unit) 
7. try repeat(auto-fit, min-max(unit, unit))
*/

.container {
  --gap: 20px;
  height: 100vh;
  display: grid;
  padding: var(--gap);
  grid-gap: var(--gap);
  grid-template-columns: 100px repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 100px repeat(7, 1fr);
  grid-auto-flow: column dense;
  grid-auto-columns: 50px;
}


/*
Place items on grid

8. Use grid-column: span number;
9. use grid-column: start / end;
10. use grid-row: start / end;

11. use grid-auto-flow: dense; in .container

*/

.item-3 {
  background: violet;
  grid-column: -4 / -2;
  grid-row: 3 / 5;
  opacity: 0.5;
}

.item-4 {
  background: turquoise;
  grid-column: -3 / -1;
  grid-row: 4 / 5;
  opacity: 0.5;
}

